*.tar.xz
*.tar.bz2
*.tar.gz
*.tar.lzma
*/built
*/src
*/pkg
*.log
Makefile.mk

*/alias
*/bdftopcf
*/bigreqsproto
*/cairo
*/clang
*/clang-tools-extra
*/compiler-rt
*/compositeproto
*/damageproto
*/demos
*/dmxproto
*/dri2proto
*/dri3proto
*/drm
*/encodings
*/fixesproto
*/fontsproto
*/freeglut
*/freerdp
*/glamor
*/glew
*/glproto
*/glu
*/inputproto
*/intel-driver
*/kbproto
*/lib*
*/llvm
*/macros
*/mesa
*/mkfontscale
*/omxil
*/pixman
*/presentproto
*/proto
*/radeontop
*/randrproto
*/recordproto
*/renderproto
*/resourceproto
*/scrnsaverproto
*/setxkbmap
*/util
*/util-image
*/util-keysyms
*/util-wm
*/vdpau-driver
*/vdpauinfo
*/videoproto
*/wayland
*/weston
*/xauth
*/xcb-util
*/xcmiscproto
*/xev
*/xextproto
*/xf86*
*/xhost
*/xineramaproto
*/xkbcomp
*/xkeyboard-config
*/xmessage
*/xorg-fonts-alias
*/xorg-fonts-encodings
*/xprop
*/xproto
*/xrandr
*/xrdb
*/xserver
*/xset
*/xwininfo
