*.tar.xz
*.tar.bz2
*.tar.gz
*.tar.lzma
*/src
*/pkg
*.log

*/alias
*/bdftopcf
*/bigreqsproto
*/cairo
*/compositeproto
*/damageproto
*/demos
*/dmxproto
*/dri2proto
*/drm
*/encodings
*/fixesproto
*/fontsproto
*/glamor
*/glproto
*/glu
*/inputproto
*/kbproto
*/libdmx
*/libfontenc
*/libICE
*/libpciaccess
*/libSM
*/libvdpau
*/libX11
*/libXau
*/libxaw
*/libXaw
*/libxcb
*/libXcomposite
*/libXcursor
*/libxdamage
*/libXdamage
*/libXdmcp
*/libXext
*/libXfixes
*/libxfont
*/libXfont
*/libXi
*/libxkbcommon
*/libxkbfile
*/libXmu
*/libXpm
*/libxrandr
*/libXrandr
*/libXrender
*/libXRes
*/libXt
*/libxtrans
*/libXtst
*/libXv
*/libXvMC
*/libXxf86vm
*/llvm
*/clang
*/compiler-rt
*/macros
*/mesa
*/mkfontscale
*/pixman
*/proto
*/randrproto
*/recordproto
*/renderproto
*/resourceproto
*/scrnsaverproto
*/setxkbmap
*/util
*/util-keysyms
*/videoproto
*/wayland
*/weston
*/xauth
*/xhost
*/xrdb
*/xcb-util
*/xcmiscproto
*/xev
*/xextproto
*/xf86dgaproto
*/xf86driproto
*/xf86-input-evdev
*/xf86-input-synaptics
*/xf86-video-ati
*/xf86-video-intel
*/xf86-video-nouveau
*/xf86vidmodeproto
*/xineramaproto
*/xkbcomp
*/xkeyboard-config
*/xmessage
*/xorg-fonts-alias
*/xorg-fonts-encodings
*/xprop
*/xproto
*/xrandr
*/xserver
*/xset
*/xwininfo
*/radeontop
*/libclc
*/util-image
*/util-wm
*/libXxf86dga
